<h1>@ViewBag.Trail.TrailName</h1>
<h3>Description: </h3>
<p>@ViewBag.Trail.Description</p>

<h4>Trail Length:</h4>
<p>@ViewBag.Trail.Length miles</p>

<h4>Elevation:</h4>
<p>@ViewBag.Trail.Elevation</p>

<h5>Longitude: @ViewBag.Trail.Longitude ° @ViewBag.Trail.LongDegree</h5>
<h5>Latitude: @ViewBag.Trail.Latitude ° @ViewBag.Trail.LatDegree</h5>

<hr>
<p><a href="/">Go home</a> | <a href="/newTrail">Add a trail</a></p>